.fprogram{
    background-color: aqua;
    width: 20%;
    justify-content: center;
    padding: 12px;
    text-align: center;
    border: 1px solid black;
    border-radius: 9px;
    line-height: 30px;

}
span{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(7, 134, 134);
}
.sprogram{
    background-color: rgb(20, 6, 210);
    width: 20%;
    color: beige;
    justify-content: center;
    padding: 12px;
    text-align: center;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 9px;
    line-height: 30px;
}
.sspan{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(236, 247, 247);
}